/* <system section="theme" selected="10328749687197818725"> */
@import "https://usercss.blog.st-hatena.com/-/theme/10328749687197818725.css?version=93840d36b708887cd5b9a00d2898c5951f900ed2";
/* </system> */

/* <system section="background" selected="undefined"> */

/* </system> */

/* ブログヘッダー */
#blog-title {
    /*既存のデザインの色を変更する*/
    background: #253243 !important;
}

/* ブログタイトル */
.entry-title {
    background: #253243;
    border-radius: 0.45rem;
    color: white;
    font-size: 1.2rem;
    font-family: 'ヒラギノ角ゴ ProN W3', '游ゴシック', 'MS Pゴシック', Arial, sans-serif !important;
    line-height: 3;
}

/* ブログ全体の文字 */
.entry-content {
    font-size: 0.9rem;
    font-family: 'ヒラギノ角ゴ ProN W3', '游ゴシック', 'MS Pゴシック', Arial, sans-serif !important;
}

/* h1の文字 */
.entry-content h1 {
    font-size: 1.1rem;
    font-weight: bold;
    background: #253243;
    border-radius: 0.45rem;
    color: white;
    padding: 0.7rem;
}

/* h2の文字 */
.entry-content h2 {
    font-size: 1.0rem;
    font-weight: bold;
    /* 背景：色 */
    background: #d7d7d7;
    /* 左線：太さ，色 */
    border-left: 0.7rem solid #253243;

    /* 上外部余白：大きさ */
    margin-top: 0.9rem;
    /* 内部余白：文字周り */
    padding: 0.6rem;
}

/* h3の文字 */
.entry-content h3 {
    font-size: 0.85rem;
    /*既存のデザインで色がついてしまうため、白くする*/
    background: white;
    /*既存のデザインを打ち消す*/
    color: black;
    /*既存のデザインが細すぎるので太くする*/
    font-weight: 700;
    /*既存のデザインを打ち消す*/
    border-left: 0px;
    border-bottom: solid 0.1rem #313131;
    border-radius: 0rem;
}

/* h3のアイコン */
.entry-content h3:before {
    font-size: 0.9rem;
    /*アイコン色*/
    color: #253243;
    /*アイコンのユニコード*/
    content: "\f138";
    font-family: "FontAwesome", serif;
    /*アイコンの右側にスペースを空ける*/
    margin-right: 0.5rem;
}

/* h4の文字 */
.entry-content h4 {
    font-size: 0.9rem;
    /*既存のデザインが太すぎるので細くする*/
    font-weight: 550;
    /*既存のデザインを打ち消す*/
    border-bottom: 0px;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
}

/*
decimalで、途中から連番を始められるようにする
https://www.materialpot.com/html/list_number/
*/
.decimal {
    margin-left: 30px;
}

.decimal li {
    list-style-type: decimal;
}


/* 画像 */
.entry-content img {
    /*画像を中央寄せする*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* インラインコード */
.entry-content code {
    color: black;
    border: 1px solid rgba(0, 0, 0, .08);
    background-color: #00000008;
    font-family: monospace
}

/* コードブロック */
.entry-content pre.code {
    font-size: 1em;
    /* Googleフォントを使用する */
    font-family: "Source Code Pro", monospace;
    margin: 1.5rem 0;
    padding: 1.5rem 0.5rem;
    background-color: #364549;
    color: #e3e3e3;

    /* コピーボタンの位置 */
    position: relative;
}

/* コードブロック */
.entry-content pre.code.mermaid{
    font-size: 1em;
    /* Googleフォントを使用する */
    font-family: "Source Code Pro", monospace;
    background-color: white;
}

/* コメントアウトの色 */
/* Zennに合わせる */
.synComment {
    color: #94a1b3
}

/* 引用文 */
.entry-content blockquote {
    font-size: 0.75rem;
    background: #F6F6F6;
}

/*
文字だけ引用の編みかけ
https://smatech.hatenablog.com/entry/blog-kakomi-waku
*/
.text-quote {
    background: #F6F6F6;
    padding: 10px;
    border: dashed;
    border-width: thin;
}

/* 目次 */
.table-of-contents, .entry-content ul.table-of-contents {
    /* 枠内の余白(上右下左) */
    padding: 9px 18px 9px;
    /* 文字サイズ */
    font-size: 0.71rem;
    /* 線の種類と色 */
    border: dotted 1px #777;
    /* 背景 */
    background: #f0f0f0;
}

.table-of-contents:before {
    content: "✏️ 記事の内容";
    font-size: 1.0em;
    /* 文字の太さ　通常はnormal */
    font-weight: bold;
    /* 文字の色 */
    color: #000;
}

/* 目次のh2部分 */
/* ulの数で階層が決まる */
.table-of-contents ul {
    /* 目次のh2の左横スペース */
    margin-left: 0rem;
}
/* 目次のh4部分 */
/* https://www.yukihy.com/entry/hatenablog-table-of-contents-custom */
.table-of-contents ul ul {
    /* 目次のh4を非表示 */
    display: none;
}

/* 画像のキャプション */
figure {
    text-align: center;
}

/* 注意書きボックス */
/* https://sigablog.com/entry/2021/04/04/074057 */
.text-box {
    /* ボックスの背景色 */
    background-color: #FFFCDB;
    font-size: 0.8rem;
    /* ボックス内側の余白 */
    padding: 16px 20px 16px 65px;
    position: relative;
    /* ボックス外側の余白 */
    margin: 1rem 0.5rem 1rem 0.5rem;
    display: block;
    /* ボックスの枠線 */
    border: 1px dashed #ffa500;
}

/* 注意書きボックスのアイコン */
.text-box:before {
    position: absolute;
    font-family: "Font Awesome 5 Free", serif;
    /* アイコンの種類 */
    content: "\f0eb";
    font-weight: 900;
    /* アイコンの大きさ */
    font-size: 40px;
    /* アイコンの位置 */
    top: 5px;
    left: 8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /* アイコンの色 */
    color: #ffa500;
}

/* 注意書きボックスのタイトル */
.text-box-title {
    font-size: 1.1em;
    font-weight: bold;
}

/* テーブル全体 */
.entry-content td, th {
    /* 上下中央揃え */
    vertical-align: middle;
}

/* テーブルヘッダー */
.entry-content table th {
    background-color: #313131;
    color: white;
}

.entry-content table td {
    background-color: #f8f8f8
}

/* HTMLでテーブルを定義した場合 */
.entry-content table {
    background: white;
    font-size: 0.8rem;
}

/* スマホでは無効化し、レスポンシブが壊れないようにする */
@media(min-width: 767px){

    /* サイドバーの目次の固定 */
    /* https://www.fuji-blo.com/entry/sticky */
    #content-inner {
        display: flex;
        justify-content: space-between;
    }

    #box2 {
        display: flex;
    }

    .hatena-module:last-of-type {
        /*safari対応*/
        position: -webkit-sticky;
        position: sticky;
        /*ここで上からの距離を調整*/
        top: 10px;
    }
}

/* コピーボタン */
.entry-content .copy-button {
    position: absolute;
    top: 4px;
    right: 4px;
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #1e90ff;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    opacity: 0;
    transition: opacity 0.3s;
}

.entry-content pre.code:hover .copy-button {
    opacity: 1;
}

.entry-content .copy-button:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.entry-content .copy-button:focus {
    outline: none;
}

.entry-content .copy-button:active {
    box-shadow: none;
    transform: translateY(2px);
}

/* 記事の作成日時 */
.entry-date {
    background-color: transparent;
    padding: 5px 0px;
    /*作成日の大きさ。色は指定していない*/
    font-size: 15px;
    display: inline;
    color: #333;
}

/* 記事の作成日時アイコン */
.entry-date::before {
    font-family: "Font Awesome 5 Free", serif;
    /*作成日のアイコンの種類*/
    content: '\f073';
    font-weight: bold;
    color: #333;
}

/* 記事の最終更新日時 */
.lastmod {
    background-color: transparent;
    padding: 5px 0px;
    /*更新日の大きさ*/
    font-size: 15px;
    display: inline;
    margin-left: 1rem;
    /*更新日の色*/
    color: #FF0000;
    font-weight: bold;
}

/* 記事の最終更新日時アイコン */
.lastmod::before {
    margin-right: 5px;
    font-family: "Font Awesome 5 Free", serif;
    /*更新日付のアイコンの種類*/
    content: '\f01e';
    /*更新日の色*/
    color: #333;
    font-weight: bold;
}

/* Mermaid */
.mermaid {
    /* 中央に配置する */
    /* https://github.com/squidfunk/mkdocs-material/issues/2953#issuecomment-903240973 */
    text-align: center;
}

.hatena-asin-detail .hatena-asin-detail-image-link, .hatena-asin-detail>a {
    height: 150px;
}

.hatena-asin-detail>a .hatena-asin-detail-image {
    width: 60%;
}

/* キーワード */
/* 下線を消す (URLは残ってしまう) */
a.keyword {
    border: 0 !important;;
}

/* モジュール */
.hatena-module {
    font-size: 0.8rem;
    margin-bottom: 30px
}

/* モジュールのタイトル */
.hatena-module-title {
    margin-bottom: 10px
}

/* カテゴリ */
.hatena-module-category .hatena-urllist li a {
    /* カテゴリの隙間を小さくする */
    padding: 0 4px;
}

/* 番号リストのデザイン
https://qiita.com/suin/items/7ee3c8ae24a7d8e3ff33
*/
/*.steps {*/
/*    !* 連番カウンター名の定義 *!*/
/*    counter-reset: step-counter;*/
/*    !* 縦棒との位置関係に必要 *!*/
/*    position: relative;*/
/*    !* 縦棒と連番のためのスペースを左に確保 *!*/
/*    padding-left: 2rem; !* 連番(1.5rem) + 余白 *!*/
/*}*/
/*!* 縦棒 *!*/
/*.steps:before {*/
/*    content: "";*/
/*    !* 幅と色 *!*/
/*    background-color: #253243;*/
/*    width: 2px;*/
/*    !* 位置 *!*/
/*    position: absolute;*/
/*    top: 1.0rem; !* 円のwidthの半分 *!*/
/*    left: 1.0rem; !* 円のwidthの半分 *!*/
/*    height: calc(100% - 0.7rem); !* 100% - top *!*/
/*    !* 連番より後ろに表示するため *!*/
/*    z-index: 0;*/
/*}*/
/*.steps > h4 {*/
/*    !* 連番カウンターを+1する *!*/
/*    counter-increment: step-counter;*/
/*    !* 連番カウンターを垂直方向に中央揃えで表示する *!*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*!* ①②③など連番 *!*/
/*.steps > h4:before {*/
/*    !* 連番カウンターの値を表示する *!*/
/*    content: counter(step-counter);*/
/*    !* フォントと色 *!*/
/*    background: #253243;*/
/*    color: white;*/
/*    font-size: 1.0rem;*/
/*    font-weight: bold;*/
/*    !* 文字を中央に表示する *!*/
/*    line-height: 2.0rem;*/
/*    text-align: center;*/
/*    !* 円で表示する *!*/
/*    width: 2.0rem;*/
/*    height: 2.0rem;*/
/*    border-radius: 1.5rem;*/
/*    !* .stepsでmargin-left +2rem したぶん左に戻す *!*/
/*    position: absolute;*/
/*    left: 0;*/
/*    !* 縦棒より手前に表示するため *!*/
/*    z-index: 1;*/
/*}*/
